name: CI Pipeline with Kyverno Policy Checks

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  kyverno-policy-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Install Kyverno CLI
        uses: kyverno/action-install-cli@v0.2.0
        with:
          release: 'v1.9.5'
          
      - name: check install
        run: kyverno version
            
      - name: Run Kyverno Policy Checks
        run: |
          kyverno apply -f .github/kyverno_policies/ -r eks-sample-app/
